@model booksDb.Models.checkout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>checkout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.checkout_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkout_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.return_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.return_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
